/*-- scss:defaults --*/

$theme: "lux" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;
$sblue: #658C9F !default;
$sblue2: #094867 !default;
$navyblue2: #00165a !default;
$gray-custom: #9FD0D7 !default;
$blue3: #0F75BC !default;

// changed from grey to black 
$primary:       $gray-custom !default; 
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.3 !default;

// Options

$enable-rounded:            false !default;

// Body

$body-color:                $gray-700 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$h1-font-size:                2.25rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                .75rem !default;
$p-font-size:                 1.25rem !default;
$headings-font-weight:        600 !default;
$headings-color:              $gray-900 !default;


// Buttons

$btn-line-height:             1.5rem !default;
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;
$input-btn-padding-y-sm:      .5rem !default;
$input-btn-padding-x-sm:      1rem !default;
$input-btn-padding-y-lg:      2rem !default;
$input-btn-padding-x-lg:      2rem !default;
$btn-font-weight:             600 !default;

// Forms

$input-line-height:                     1.5 !default;
$input-bg:                              $gray-200 !default;
$input-disabled-bg:                     $gray-300 !default;
$input-group-addon-bg:                  $gray-300 !default;

// Navbar

$navbar-padding-y:                  0rem !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-color:                rgba($black, .3) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;

// Pagination

$pagination-border-color:           transparent !default;
$pagination-hover-border-color:     $pagination-border-color !default;
$pagination-disabled-border-color:  $pagination-border-color !default;


/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Navbar
.navbar {
  padding-top: 0 !important; /* Remove top padding */
  padding-bottom: 0 !important; /* Remove bottom padding */
  margin-bottom: 0 !important; /* Remove bottom margin */
  font-size: 1.05em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-nav {
    display: flex;
    align-items: center;
    margin: 0; /* Ensure no extra margin */
    
    .nav-item {
      margin-right: 0.5rem; /* Adjust spacing between nav items */
      
      &:last-child {
        margin-right: 0; /* No margin for the last item */
      }
    }

    .nav-link {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; /* Ensure consistent padding */
      color: $navyblue2 !important;
      
      @media (max-width: 768px) {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }

  &-brand {
    margin-right: 0rem;
  }

  .navbar-search {
    display: flex;
    align-items: center;

    input[type="search"] {
      margin-right: 0.5rem; /* Space between input and button */
      height: 2.5rem; /* Ensure the height matches other navbar items */
      padding: 0.5rem; /* Adjust padding for better alignment */
      line-height: 1.5; /* Ensure line-height is consistent */
    }

    button {
      height: 2.5rem; /* Match height with input field */
      padding: 0 1rem; /* Ensure button padding is consistent */
    }
  }
}

.bg-primary {
  background-color: $gray-custom !important;
}

.bg-light {
  border: 0px solid rgba(0, 0, 0, .1);

  &.navbar-bottom-top {
    border-width: -2px 0 0;
  }
}

.nav-item {
  margin-right: 0rem;
}

// Buttons

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 1rem;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $white;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 .2rem rgba($gray-400, .5);
  }
}

[class*="btn-outline-"] {
  border-width: 0px;
}

.border-secondary {
  border: 0px solid $gray-400 !important;
}

// Typography

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
{
  letter-spacing: 3px;
}

body {
  h6 {
    text-transform: none;
  }
}

.text-secondary {
  color: $body-color !important;
}

// Navs

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators

.badge {
  padding-top: 0rem;

  &-pill {
    border-radius: 0rem;
  }

  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}

// Containers

.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.card {
  &-title,
  &-header {
    color: inherit;
  }
}

/*-- navbar --*/
.navbar-logo {
  height: 100%;
  max-height: 70px;
  width: auto;
  align-items: baseline;
}

/*-- Custom CSS to remove space between navbar and image banner --*/
.banner {
  margin-top: 0; /* Set the margin-top to 0 for the .banner class */
}

/*-- Custom CSS to remove space between navbar and image banner --*/
.image-container .figure {
  margin-top: 0 !important; /* Remove top margin */
  padding-top: 0 !important; /* Remove top padding */
}

//Custom Marquees for select text 
.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee .content {
  display: inline-block;
  animation: marquee 20s linear infinite; /* Adjust animation duration as needed */
}

/* Define the marquee animation */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Pause animation on hover */
.marquee .content:hover {
  animation-play-state: paused;
}
